body {
  font-family: "Arial", sans-serif;
  background: #ffe6eb; /* pink lembut */
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 60%;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  color: #e60073;
}

h2 {
  color: #666;
}

.anniv-img {
  width: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

.message {
  font-size: 18px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #ffb3c6;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  color: #660033;
}
